[Unit]
Description = Catalogue Service

[Service]
User=roboshop
Environment=MONGO=true
// highlight-start
// Use the variable inside the quotes for a clean string
Environment=MONGO_URL="mongodb://{{ MONGODB_HOST }}:27017/catalogue"
// highlight-end
ExecStart=/bin/node /app/server.js
SyslogIdentifier=catalogue

[Install]
WantedBy=multi-user.target